@import './styles/styles';

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif !important;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
p {
  margin: 0;
}

input[type=checkbox] {
  accent-color: $primary_color;
}