.Dropdown {
    position: relative;
    display: inline-block;

    @at-root #{&}-Menu {
        position: absolute;
        top: 40px;
        right: -40px;
        background-color: $light_color_10;
        border-radius: $border_radius;
        border: 1px solid $light_color_30;
        padding: 5px 0;
        min-width: 200px;
        z-index: 1;
        user-select: none;
        transform: scale(0);
        transition: 0.1s all ease-in-out;

        @at-root #{&}__Item {
            @extend .Parraf-Text;
            padding: 6px 10px;
            border-radius: $border_radius;
            cursor: pointer;

            &:hover {
                background-color: $primary_color_light;
            }
        }
    }
}

.Show-Menu {
    right: 0px;
    transform: scale(100%);
}