.Dropdown {
    position: relative;
    display: inline-block;

    @at-root #{&}-Menu {
        display: none;
        position: absolute;
        top: 40px;
        right: 0px;
        background-color: $light_color_10;
        border-radius: $border_radius;
        border: 1px solid $light_color_30;
        padding: 10px 0;
        min-width: 200px;
        z-index: 1;
        user-select: none;

        @at-root #{&}__Item {
            @extend .Parraf-Text;
            padding: 6px 10px;
            margin-top: 5px;
            border-radius: $border_radius;
            cursor: pointer;
            border-top: 1px solid $light_color_30;

            &:hover {
                background-color: $primary_color_light;
            }
        }
    }
}

.Show-Menu {
    display: block !important;
}