.Modal {
    @at-root #{&}-Wrapper {
        width: 100%;
        height: 100vh;
        background-color: rgba($color: #000000, $alpha: 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: 100;
        position: absolute;
    }
    @at-root #{&}-Content {
        padding: 20px;
        border-radius: $border_radius * 2;
        box-shadow: $box_shadow;
        background-color: $white;
    }
    @at-root #{&}-Tabs {
        width: 100%;
        height: 35px;
        display: flex;
    }
    @at-root #{&}-Tab {
        width: 100%;
        height: 100%;
        text-align: center;
        border-bottom: 2px solid $light_color_20;
        cursor: pointer;
        transition: 0.1s all ease-in-out;

        &.Modal-Tab__Active {
            border-color: $primary_color;
        }
    }
}