.Title-Text {
    font-size: 1.6rem;
    font-weight: 800;
}

.Parraf-Text {
    font-size: 0.875rem;
}

.Link-Text {
    @extend .Parraf-Text;
    text-decoration: none;
    color: $primary_color;
    cursor: pointer;
}